.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
}

.box {
    width: 300px;
    border: none;
    outline: none;
    border-radius: 7px 7px 0px 0px;
    box-shadow: 0px 0px 7px grey;
    color: lightgrey;
}

.div-img2 {
    border: none;
    outline: none;
    border-radius: 7px 7px 0px 0px;
}

.div-img2 img {
    border: none;
    border-radius: 7px 7px 0px 0px; 
}

.text-box {
    width: 100%;
    background: #222;
    border-radius: 0px 0px 7px 7px;
    border-top: 1px solid slategray;
}

.paraTitle {
    display: flex;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.paraOne {
    display: flex;
    font-size: 16px;
    margin: auto 20px;
}

.paraTwo {
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    
    font-size: 14px;
    
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    font-size: 16px;
}